<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solidoa.system.mapper.RoleMapper">

    <select id="selectListWithUserCount" resultType="com.solidoa.system.entity.Role">
        SELECT r.*, COUNT(ur.id) as user_count
        FROM sys_role r
        LEFT JOIN sys_user_role ur ON r.id = ur.role_id
        GROUP BY r.id
        ORDER BY r.id
    </select>

    <select id="selectPermissionCodesByRoleId" resultType="java.lang.String">
        SELECT p.code
        FROM sys_role_permission rp
        JOIN sys_permission p ON rp.permission_id = p.id
        WHERE rp.role_id = #{roleId}
    </select>

</mapper>